<p>aboutus works!</p>
<div class="container">
    

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">id</th>
            
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let v of values">
            
            <td>{{v.name}}</td>
            <td>{{v.department}}</td>
            <td>{{v.id}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
     
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ID creation</title>
</head>
<body>
  <!-- <label>Employee Name :</label>
  <input [(ngModel)]="result" type="text" > <br> <br>
  <button (click)="createEmpid()" type="button"> Create ID</button> -->
</body>
</html>






















